/* styles2.css */
.titulo {
    font-size: 27;
    font-weight: bold;
    text-align: center;
}

.botonIniciarSesion {
    background-color: #008CBA; /* Azul */
    color: white;
    text-align: center;
}

.botonRegistrarse {
    background-color: #f44336; /* Rojo */
    color: white;
    text-align: center;
}
